{% include 'visitor/base.html.twig' %}

{% block body %}
    {% include 'visitor/components/header.html.twig' %}

{#    <div class="canvas-wrapper">#}
{#        <canvas id="canvas"></canvas>#}
{#    </div>#}

{#    <img class="icon" id="trash-icon" src="{{ asset('build/images/index/trashcan.png') }}" alt="trash icon">#}

{#    <div class="brush-wrapper">#}
{#        <img class="icon" id="small-icon" src="{{ asset('build/images/index/brush-small.png') }}" alt="small brush icon" data-size="small">#}
{#        <img class="icon active-icon" id="medium-icon" src="{{ asset('build/images/index/brush-medium.png') }}" alt="medium brush icon" data-size="medium">#}
{#        <img class="icon" id="big-icon" src="{{ asset('build/images/index/brush-large.png') }}" alt="large brush icon" data-size="big">#}
{#    </div>#}

{#    <div class="option-wrapper">#}
{#        <img class="icon active-icon" id="brush-icon" src="{{ asset('build/images/index/pencil.png') }}" alt="brush icon" data-option="brush">#}
{#        <img class="icon" id="eraser-icon" src="{{ asset('build/images/index/eraser.png') }}" alt="eraser icon" data-option="eraser">#}
{#        <img class="icon" id="save-icon" src="{{ asset('build/images/index/save.png') }}" alt="save icon">#}
{#    </div>#}
{% endblock %}