{% extends 'visitor/base.html.twig' %}

{% block title %}
    {{ 'baileythedino.index.pageTitle'|trans }}
{% endblock %}

{% block body %}

    {# Start header #}
    {% block hero_header %}
        <section class="hero-header">

            <section class="hero-header--inner container">
                <div class="hero-header--title-wrapper">
                    <h1>{{ 'baileythedino.index.header.title'|trans|raw }}</h1>
                    <h2>{{ 'baileythedino.index.header.subText'|trans }}</h2>
                </div>

                <a href="#" class="hero-header--scroll-down-wrapper">
                    <img src="{{ asset('build/images/icons/hand-pointing-down.png') }}" role="presentation" alt="">
                    <p>{{ 'baileythedino.index.header.scrollDown'|trans }}</p>
                </a>
            </section>

            <div class="hero-header--decorative-circles">
                <div class="decorative-circle circle-1"></div>
                <div class="decorative-circle circle-2"></div>
                <div class="decorative-circle circle-3"></div>
                <div class="decorative-circle circle-4"></div>
                <div class="decorative-circle circle-5"></div>
            </div>

            <div class="hero-header--decorative-pills">
                <div class="blue-pill-group pill-group">
                    <div class="main-blue-pill" data-controller="pill-parallax" data-parallax-speed="3">
                        <div class="blue-inner-circle circle-1"></div>
                        <div class="blue-inner-circle circle-2"></div>
                        <div class="blue-inner-circle circle-3"></div>
                        <div class="blue-inner-circle circle-4"></div>
                        <div class="blue-inner-circle circle-5"></div>
                    </div>

                    <div class="blue-pill-fleet" data-controller="pill-parallax" data-parallax-speed="4.5">
                        <div class="blue-pill-1"></div>
                        <div class="blue-pill-2"></div>
                        <div class="blue-pill-3"></div>
                    </div>

                    <div class="pink-pill-fleet" data-controller="pill-parallax" data-parallax-speed="3.5">
                        <div class="pink-pill-1"></div>
                        <div class="pink-pill-2"></div>
                        <div class="pink-pill-3"></div>
                    </div>
                </div>

                <div class="pink-pill-group pill-group">
                    <div class="main-pink-pill" data-controller="pill-parallax" data-parallax-speed="2">
                        <div class="pink-inner-circle circle-1"></div>
                        <div class="pink-inner-circle circle-2"></div>
                        <div class="pink-inner-circle circle-3"></div>
                        <div class="pink-inner-circle circle-4"></div>
                        <div class="pink-inner-circle circle-5"></div>
                    </div>

                    <div class="pink-pill-fleet" data-controller="pill-parallax" data-parallax-speed="2.7">
                        <div class="pink-pill-1"></div>
                        <div class="pink-pill-2"></div>
                        <div class="pink-pill-3"></div>
                    </div>
                </div>

                <div class="white-pill-group pill-group">
                    <div class="main-white-pill" data-controller="pill-parallax" data-parallax-speed="7">
                        <div class="white-inner-circle circle-1"></div>
                        <div class="white-inner-circle circle-2"></div>
                    </div>

                    <div class="white-pill-fleet" data-controller="pill-parallax" data-parallax-speed="9">
                        <div class="white-pill-1"></div>
                        <div class="white-pill-2"></div>
                    </div>
                </div>
            </div>

        </section>
        <div class="hero-header--drooping">
            {# In case somebody as a very very very very wide screen lol #}
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation"  alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
        </div>
    {% endblock %}
    {# End header #}

{% endblock %}