{% extends 'visitor/base.html.twig' %}

{% block title %}
    {{ 'baileythedino.index.pageTitle'|trans }}
{% endblock %}

{% block body %}

    {# Start header #}
    {% block hero_header %}
        <section class="hero-header">

            <section class="hero-header--inner container">
                <div class="hero-header--title-wrapper">
                    <h1>{{ 'baileythedino.index.header.title'|trans|raw }}</h1>
                    <h2>{{ 'baileythedino.index.header.subText'|trans }}</h2>
                </div>

                <a href="#middleTextHeader" class="hero-header--scroll-down-wrapper">
                    <img src="{{ asset('build/images/icons/hand-pointing-down.png') }}" role="presentation" alt="">
                    <p>{{ 'baileythedino.index.header.scrollDown'|trans }}</p>
                </a>
            </section>

            <div class="hero-header--decorative-circles">
                <div class="decorative-circle circle-1"></div>
                <div class="decorative-circle circle-2"></div>
                <div class="decorative-circle circle-3"></div>
                <div class="decorative-circle circle-4"></div>
                <div class="decorative-circle circle-5"></div>
            </div>

            <div class="hero-header--decorative-pills">
                <div class="blue-pill-group pill-group">
                    <div class="main-blue-pill" data-controller="pill-parallax" data-parallax-speed="3">
                        <div class="blue-inner-circle circle-1"></div>
                        <div class="blue-inner-circle circle-2"></div>
                        <div class="blue-inner-circle circle-3"></div>
                        <div class="blue-inner-circle circle-4"></div>
                        <div class="blue-inner-circle circle-5"></div>
                    </div>

                    <div class="blue-pill-fleet" data-controller="pill-parallax" data-parallax-speed="4.5">
                        <div class="blue-pill-1"></div>
                        <div class="blue-pill-2"></div>
                        <div class="blue-pill-3"></div>
                    </div>

                    <div class="pink-pill-fleet" data-controller="pill-parallax" data-parallax-speed="3.5">
                        <div class="pink-pill-1"></div>
                        <div class="pink-pill-2"></div>
                        <div class="pink-pill-3"></div>
                    </div>
                </div>

                <div class="pink-pill-group pill-group">
                    <div class="main-pink-pill" data-controller="pill-parallax" data-parallax-speed="2">
                        <div class="pink-inner-circle circle-1"></div>
                        <div class="pink-inner-circle circle-2"></div>
                        <div class="pink-inner-circle circle-3"></div>
                        <div class="pink-inner-circle circle-4"></div>
                        <div class="pink-inner-circle circle-5"></div>
                    </div>

                    <div class="pink-pill-fleet" data-controller="pill-parallax" data-parallax-speed="2.7">
                        <div class="pink-pill-1"></div>
                        <div class="pink-pill-2"></div>
                        <div class="pink-pill-3"></div>
                    </div>
                </div>

                <div class="white-pill-group pill-group">
                    <div class="main-white-pill" data-controller="pill-parallax" data-parallax-speed="7">
                        <div class="white-inner-circle circle-1"></div>
                        <div class="white-inner-circle circle-2"></div>
                    </div>

                    <div class="white-pill-fleet" data-controller="pill-parallax" data-parallax-speed="9">
                        <div class="white-pill-1"></div>
                        <div class="white-pill-2"></div>
                    </div>
                </div>
            </div>

        </section>
        <div class="hero-header--drooping">
            {# In case somebody as a very very very very wide screen lol #}
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
            <img src="{{ asset('build/images/elements/yellow-droop.svg') }}" role="presentation" alt="">
        </div>
    {% endblock %}
    {# End header #}

    {# Start 2nd text #}
    {% block middle_text %}
        <section id="middleTextHeader" class="middle-text">
            <section class="middle-text--inner container">
                <h3>{{ 'baileythedino.index.middleText.text'|trans }}</h3>

                <div class="blue-pill-fleet" data-controller="pill-parallax" data-parallax-speed="1.2">
                    <div class="blue-pill-1"></div>
                    <div class="blue-pill-2"></div>
                    <div class="blue-pill-3"></div>
                </div>
            </section>
        </section>
    {% endblock %}
    {# End 2nd text #}

    {# Start content cta #}
    {% block content_cta %}
        <section class="content-cta">
            <section class="content-cta--inner container">
                <h4>{{ 'baileythedino.index.contentCta.title'|trans }}</h4>
                <div>
                    <a href="#">{{ 'baileythedino.index.contentCta.links.link-1'|trans }}</a>
                    <a href="#">{{ 'baileythedino.index.contentCta.links.link-2'|trans }}</a>
                    <a href="#">{{ 'baileythedino.index.contentCta.links.link-3'|trans }}</a>
                    <a href="#">{{ 'baileythedino.index.contentCta.links.link-4'|trans }}</a>
                    <a href="#">{{ 'baileythedino.index.contentCta.links.link-5'|trans }}</a>
                    <a href="#">{{ 'baileythedino.index.contentCta.links.link-6'|trans }}</a>
                </div>
                <button onclick="(function(){alert('It really is');})();">
                    {{ 'baileythedino.index.contentCta.footNote'|trans }}
                </button>

                <div class="content-cta--decorative-circles">
                    <div class="decorative-circle circle-1"></div>
                    <div class="decorative-circle circle-2"></div>
                    <div class="decorative-circle circle-3"></div>
                    <div class="decorative-circle circle-4"></div>
                    <div class="decorative-circle circle-5"></div>
                </div>

                <div class="pink-pill-fleet" data-controller="pill-parallax" data-parallax-speed="1.2">
                    <div class="pink-pill-1"></div>
                    <div class="pink-pill-2"></div>
                    <div class="pink-pill-3"></div>
                </div>

                <div class="white-pill-fleet" data-controller="pill-parallax" data-parallax-speed="1.2">
                    <div class="white-pill-1"></div>
                    <div class="white-pill-2"></div>
                    <div class="white-pill-3"></div>
                </div>
            </section>
        </section>
    {% endblock %}
    {# End content cta #}

    {# Start project showcase #}
    {% block project_showcase %}
        <section class="project-showcase">
            <section class="project-showcase--inner container">
                <div class="title-container">
                    <h4>{{ 'baileythedino.index.projectShowcase.title'|trans }}</h4>
                    <p>{{ 'baileythedino.index.projectShowcase.subTitle'|trans }}</p>
                </div>

                <div class="project-grid">
                    <a href="#" class="project-item project-1">
                        <div class="project-title-wrapper">
                            <p>Bucket list</p>
                        </div>
                        <img src="{{ asset('build/images/thumbnails/projects/project-1.jpg') }}" alt="Bucket list">
                    </a>
                    <div class="project-item project-2"></div>
                    <div class="project-item project-3"></div>
                    <div class="project-item project-4"></div>
                    <a href="#" class="project-item project-5">
                        <div class="project-title-wrapper">
                            <p>Waves</p>
                        </div>
                        <img src="{{ asset('build/images/thumbnails/projects/project-2.jpg') }}" alt="Waves">
                    </a>
                    <div class="project-item project-6"></div>
                    <div class="project-item project-7"></div>
                    <div class="project-item project-8"></div>
                    <div class="project-item project-9"></div>
                    <div class="project-item project-10"></div>
                    <div class="project-item project-11"></div>
                    <div class="project-item project-12"></div>
                    <div class="project-item project-13"></div>
                    <a href="#" class="project-item project-14">
                        <div class="project-title-wrapper">
                            <p>Cliff</p>
                        </div>
                        <img src="{{ asset('build/images/thumbnails/projects/project-3.jpg') }}" alt="Cliff">
                    </a>
                    <div class="project-item project-15"></div>
                    <div class="project-item project-16"></div>
                    <div class="project-item project-17"></div>
                    <div class="project-item project-18"></div>
                    <div class="project-item project-19"></div>
                    <div class="project-item project-20"></div>
                    <div class="project-item project-21"></div>
                    <div class="project-item project-22"></div>
                </div>
            </section>

            <div class="yellow-pill-fleet" data-controller="pill-parallax" data-parallax-speed="1.2">
                <div class="yellow-pill-1"></div>
                <div class="yellow-pill-2"></div>
                <div class="yellow-pill-3"></div>
            </div>

            <div class="blue-pill-fleet" data-controller="pill-parallax" data-parallax-speed="1.2">
                <div class="blue-pill-1"></div>
                <div class="blue-pill-2"></div>
                <div class="blue-pill-3"></div>
            </div>
        </section>
    {% endblock %}
    {# End project showcase #}

    {# Start footer #}
    {% block footer %}
        <section class="footer">
            <p>{{ 'baileythedino.index.footer.title'|trans }}</p>
        </section>
    {% endblock %}
    {# End footer #}

    {# Start quote #}
    {% block quote %}
        <section class="quote">
            <section class="project-quote--inner container">
                <p>{{ 'baileythedino.index.quote.title'|trans }}</p>

                <div class="quote-slider" data-controller="quote-slider">
                    <div class="quote-slide">
                        <h4>Life is short, but it is wide. This too shall pass.</h4>
                        <p>John 2022</p>
                        <img src="{{ asset('build/images/thumbnails/projects/project-1.jpg') }}" alt="Simme quote">
                    </div>
                    <div class="quote-slide">
                        <h4>Life is short, but it is wide. This too shall pass.</h4>
                        <p>John 2022</p>
                        <img src="{{ asset('build/images/thumbnails/projects/project-2.jpg') }}" alt="Some quote">
                    </div>
                    <div class="quote-slide">
                        <h4>Life is short, but it is wide. This too shall pass.</h4>
                        <p>John 2022</p>
                        <img src="{{ asset('build/images/thumbnails/projects/project-3.jpg') }}" alt="Some quote">
                    </div>
                    <div class="quote-slide">
                        <h4>Life is short, but it is wide. This too shall pass.</h4>
                        <p>John 2022</p>
                        <img src="{{ asset('build/images/thumbnails/projects/project-2.jpg') }}" alt="Some quote">
                    </div>
                    <div class="quote-slide">
                        <h4>Life is short, but it is wide. This too shall pass.</h4>
                        <p>John 2022</p>
                        <img src="{{ asset('build/images/thumbnails/projects/project-3.jpg') }}" alt="Some quote">
                    </div>
                    <div class="quote-slide">
                        <h4>Life is short, but it is wide. This too shall pass.</h4>
                        <p>John 2022</p>
                        <img src="{{ asset('build/images/thumbnails/projects/project-2.jpg') }}" alt="Some quote">
                    </div>
                    <div class="quote-slide">
                        <h4>Life is short, but it is wide. This too shall pass.</h4>
                        <p>John 2022</p>
                        <img src="{{ asset('build/images/thumbnails/projects/project-3.jpg') }}" alt="Some quote">
                    </div>
                </div>
            </section>
        </section>
    {% endblock %}
    {# End quote #}

{% endblock %}