{% extends 'visitor/base.html.twig' %}

{% block title %}
    {{ 'baileythedino.index.pageTitle'|trans }}
{% endblock %}

{% block body %}
    {% include 'visitor/components/header.html.twig' %}

    <div class="canvas-wrapper">
        <canvas id="canvas"></canvas>
    </div>

    <img class="icon" id="trash-icon" src="{{ asset('build/images/index/trashcan.svg') }}" alt="trash icon">

    <div class="brush-wrapper">
        <img class="icon" id="small-icon" src="{{ asset('build/images/index/brush-small.svg') }}" alt="small brush icon" data-size="small">
        <img class="icon active-icon" id="medium-icon" src="{{ asset('build/images/index/brush-medium.svg') }}" alt="medium brush icon" data-size="medium">
        <img class="icon" id="big-icon" src="{{ asset('build/images/index/brush-large.svg') }}" alt="large brush icon" data-size="big">
    </div>

    <div class="option-wrapper">
        <img class="icon active-icon" id="brush-icon" src="{{ asset('build/images/index/pencil.svg') }}" alt="brush icon" data-option="brush">
        <img class="icon" id="eraser-icon" src="{{ asset('build/images/index/eraser.svg') }}" alt="eraser icon" data-option="eraser">
        <img class="icon" id="save-icon" src="{{ asset('build/images/index/save.svg') }}" alt="save icon">
    </div>
{% endblock %}