{% extends 'admin-base.html.twig' %}

{% block title %}{{ 'admin.login.title'|trans }}{% endblock %}

{% block body_classes %}
    class="body-admin body-login"
{% endblock %}

{% block body %}
    <section class="login-wrapper">
        <div class="quote-section">
            <div class="image-wrapper">
                <img src="{{ image.link }}" alt="{{ image.alt }}">
            </div>
            <div class="quote-wrapper">
                <q>{{ quote.text }}</q>
                <p>{{ 'admin.login.quoteWriterPrefix'|trans }}{{ quote.text }}</p>
            </div>
        </div>
        <div class="form-section">
            <form id="loginForm" method="post" autocomplete="off">
                <h1>{{ 'admin.login.formTitle'|trans }}</h1>

                <div class="form-group">
                    <label for="inputUsername">{{ 'admin.login.username'|trans }}</label>
                    <input placeholder="{{ 'admin.login.usernamePlaceholder'|trans }}" type="text" name="username" id="inputUsername" required>
                </div>

                <div class="form-group">
                    <label for="inputPassword">{{ 'admin.login.password'|trans }}</label>
                    <input placeholder="{{ 'admin.login.passwordPlaceholder'|trans }}" type="password" name="password" id="inputPassword" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button type="submit">
                    {{ 'admin.login.submit'|trans }}<span>!</span>
                </button>
            </form>
        </div>
    </section>
{% endblock %}
