{% block header %}

    {% set currentRoute = app.request.attributes.get('_route') %}
    <nav>
        <div class="logo">
            <a href="{{ path('visitor.index') }}">{{ 'baileythedino.general.websiteName'|trans }}</a>
        </div>

        <div class="desktop-links">
            <a
                    href="{{ path('visitor.about') }}"
                    {% if app.request.attributes.get( '_route' ) starts with 'visitor.about' %}
                        class="active-link"
                    {% endif %}
            >
                {{ 'baileythedino.general.navigation.about'|trans }},
            </a>
            <a
                    href="{{ path('visitor.work.listing') }}"
                    {% if app.request.attributes.get( '_route' ) starts with 'visitor.work' %}
                        class="active-link"
                    {% endif %}
            >
                {{ 'baileythedino.general.navigation.work'|trans }},
            </a>
            <a
                    href="{{ path('visitor.blog.listing') }}"
                    {% if app.request.attributes.get( '_route' ) starts with 'visitor.blog' %}
                        class="active-link"
                    {% endif %}
            >
                {{ 'baileythedino.general.navigation.blog'|trans }},
            </a>
            <a
                    href="mailto:baileylievens@hotmail.com"
            >
                {{ 'baileythedino.general.navigation.contact'|trans }}
            </a>
        </div>

        <div class="mobile-links">
            <div class="hamburger-wrapper">
                <div class="hamburger hamburger-1"></div>
                <div class="hamburger hamburger-2"></div>
            </div>

            <div class="mobile-navigation-links">
                <a
                        href="{{ path('visitor.about') }}"
                        {% if app.request.attributes.get( '_route' ) starts with 'visitor.about' %}
                            class="active-link"
                        {% endif %}
                >
                    {{ 'baileythedino.general.navigation.about'|trans }},
                </a>
                <a
                        href="{{ path('visitor.work.listing') }}"
                        {% if app.request.attributes.get( '_route' ) starts with 'visitor.work' %}
                            class="active-link"
                        {% endif %}
                >
                    {{ 'baileythedino.general.navigation.work'|trans }},
                </a>
                <a
                        href="{{ path('visitor.blog.listing') }}"
                        {% if app.request.attributes.get( '_route' ) starts with 'visitor.blog' %}
                            class="active-link"
                        {% endif %}
                >
                    {{ 'baileythedino.general.navigation.blog'|trans }},
                </a>
                <a
                        href="mailto:baileylievens@hotmail.com"
                >
                    {{ 'baileythedino.general.navigation.contact'|trans }}
                </a>
            </div>
        </div>

    </nav>
{% endblock %}